
<%- include('header'); -%>
<div class="box" id="heading">
        <h2><%= listTitle%></h2>
      </div>
<div class="box">
        
        <% newListItems.forEach(function(li){ %>
          <form action="/delete" method="POST">
            <div class="item">
              <input type="checkbox" name="checkbox" value="<%= li._id %>" onchange="this.form.submit()">
              <p><%= li.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>"></input>
          </form>
        <% }) %>

      <form class="item" action="/" method="POST">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off"/>
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
</div>
<%- include('footer'); -%>
